.btn {
    background-color: #34a0a4;
    color: white;
}

.forecast {
    float: right;
}

#forecastCard {
    float: right;
    flex-direction: row;
    display: flex;
}

.hero {
    background-image: linear-gradient(to right, #D9ED92, #184E77);
    color: white;
    justify-content: center;
}